<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件基础</title>
<!--     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
		Vue.config.devtools = true;
    </script> -->
    <script src="./vue-2.6.10.js">
		Vue.config.devtools = true;
    </script>
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <div class="box" id="app">
        <div class="card">
            <div class="title">
                基本示例
            </div>
            <div class="body">
                    <button-counter>

                    </button-counter>
            </div>
        </div>
        <div class="card">
            <div class="title">
                监听子组件事件
            </div>
            <div class="body"  :style="{ fontSize: fontSize + 'px' }"> 
               <blog-post v-for="post in posts" v-bind:post="post" v-on:set-font-size="setFontsize">

               </blog-post>
            </div>
        </div>
        <div class="card">
            <div class="title">
                在组件上使用 v-model
            </div>
            <div class="body">
                <p>父级的值：{{userName}}</p>
                <custom-iput v-model="userName">  

                </custom-iput>
            </div>
        </div>

        <div class="card">
            <div class="title">
                    通过插槽分发内容
            </div>
            <div class="body">
                 <alert-box>
                     一些事情发生错误了！！SW
                 </alert-box>
            </div>
        </div>

        <div class="card">
            <div class="title">
                自己实验的表单数据
            </div>
            <div class="body">
                <custom-iput2 v-for="post in posts" v-model="post.title">

                </custom-iput2>
            </div>
        </div>

        <div class="card">
            <div class="title">
                单项数据流
            </div>
            <div class="body">
                <input type="text" v-model="propDate">
                <data-convert v-bind:date="propDate">

                </data-convert>
            </div>
        </div>
        <div class="card">
            <div class="title">
                prop验证--一一绑定
            </div>
            <div class="body">
                <input type="text" v-model.number="propValue">
                <prop-verify  
                v-bind:prop-a="props.propA"
                v-bind:prop-b="props.propB"
                v-bind:prop-c="props.propC"
                v-bind:prop-d="props.propD"
                v-bind:prop-e="props.propE"
                v-bind:prop-f="propValue">

                </prop-verify>
            </div>
        </div>
        <div class="card">
                <div class="title">
                    prop验证--对象绑定
                </div>
                <div class="body">
                    <prop-verify v-bind="props">
    
                    </prop-verify>
                </div>
            </div>
    </div>
    
    <script>
         //组件基础示例
         Vue.component('button-counter',{
            data:function(){
                return {
                    count:0
                }
            },
            template:'<button v-on:click="count++">点击按键{{count+1}}</button>'
        })
        //监听子组件事件
        Vue.component("blog-post",{
            props:['post'],
            template:'<div class="blog-post"><h1>{{post.title}}</h1><button v-on:click="$emit(\'set-font-size\',18)">设置字号</button><div v-html="post.content"></div> </div>'
        });
        //在组件上使用  v-model
        Vue.component("custom-iput",{
            props:["value"],
            template:'<div><label>姓名：</label><input v-bind:value="value" v-on:input="$emit(\'input\',$event.target.value)"></input><p>子组件值：{{value}}</p></div>'
        })
         //通过插槽分发内容
        Vue.component("alert-box",{
            props:[],
            template:"<div><strong>Error</strong><slot></slot></div>"
        })
            //在组件上使用  v-model
            Vue.component("custom-iput2",{
            props:["value"],
            template:'<div><label>标题：</label><input v-bind:value="value" v-on:input="$emit(\'input\',$event.target.value)"></input><p>子组件值：{{value}}</p></div>'
        })

        Vue.component("dataConvert",{
            props:[
                "date"
            ],
            template:`
                    <div>
                        <p>
                            <span>prop值={{date}}</span>
                        </p>
                        <p>
                            <span>{{dateShow}}</span>
                        </p>
                        <p>
                            <span>{{dateComputed}}</span>
                        </p>
                        
                    </div>`,
            data:function(){
                return {
                    dateShow:"组件data初始化="+this.date
                }
            },
            computed:{
                dateComputed:function(){
                    return "组件计算属性="+this.date;
                }
            }
        });
        Vue.component("propVerify",{
            props:{
                propA:Number,
                propB:[String,Number],
                //必填项
                propC:{
                    type:String,
                    required:true
                },
                //带有默认值string
                propD:{
                    type:Number,
                    default:100
                },
                //带有默认值的对象
                propE:{
                    type:Object,
                    default:function(){
                        return {
                            id:"01",
                            name:"嚣张"
                        };
                    }
                },
                //自定义验证函数
                propF:{
                    type:Number,
                    validator:function(value){
                        return value>0;
                    }
                }
            },
            template:`
                    <div>
                    <p>
                    Numeber类型： {{propA}}
                    </p>
                    <p>
                        多类型：{{propB}}
                    </p>
                    <p>
                            required的string:{{propC}}
                    </p>
                    <p>
                        默认值的Number：{{propD}}
                    </p>
                    <p>
                        带有默认值的对象:{{propE}}
                    </p>
                    <p>
                        自定义校验方法：{{propF}}
                    </p>
                </div>           
            `
        });
        var app = new Vue({
            el:"#app",
           data:{
            posts:[{title:"雅迪电车疑似倒闭？",content:""},{title:"雅迪电车总经理被情人举报？",content:""}],
            fontSize:21,
            userName:"无名氏",
            propDate:"2019-05-03",
            props:{
                propA:100,
                propB:"多类型",                
                propC:"",
                propD:101,

               /* propE:{
                            id:"02",
                            name:"龙芯"
                },*/
                
                propF:-1
            },
            propValue:100
           },
           methods:{
               //传入子组件的事件值
               setFontsize:function(e){
                    this.fontSize = e;
                    console.log("进入setFontsize:"+e);
               }
           }
        });

    </script>
</body>
</html>